<%= form_for(@killer) do |f| %>
  <% if @killer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@killer.errors.count, "error") %> prohibited this killer from being saved:</h2>

      <ul>
      <% @killer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
